
footer {
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    background: #434141;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  footer p {
    font-size: 18px; /* Adjusted from 24px */
    text-align: center;
    margin-top: 1rem;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  

  
@media (max-width: 768px) {
    footer p {
        font-size: 14px; /* Adjusted from 18px */
      }

  }
  