<footer>
    <div className="footer-content">
      <p>
        Thank you for participating in our research on carbon emissions in web
        development. Your support helps us in building a greener digital
        future. To learn more about our findings and stay updated on
        sustainable web practices, follow us on social media and explore our
        comprehensive report.
      </p>
    </div>
    <div className="footer-bottom">
      <p>Copyright &copy; Bhagya Wijenayake 2024</p>
    </div>
  </footer>