
@media (max-width: 768px) {
    nav {
      flex-direction: column;
      align-items: center;
    }
  
    nav img {
      margin-bottom: 10px;
    }
  
    .hero {
      height: auto;
      flex-direction: column-reverse;
    }
  
    .hero-content {
      padding: 0;
    }
  
    .hero-content h1 {
      font-size: 24px; /* Adjusted from 36px */
    }
  
    .hero-content p {
      font-size: 14px; /* Adjusted from 18px */
    }
  
    .hero-image {
      margin-top: 20px;
    }
  
    .hero-image img {
      border-radius: 8px;
    }
  
    section {
      flex-direction: column;
    }
  
    #numbers-container {
      flex-direction: column;
    }
  
    .number-box {
      width: 100%;
    }
  }
  